/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
******************************************************/
/* Header */
header .container {
	background: orange;
	width: 100%;
	padding: 0.5rem 2rem;
	min-height: 6rem;
}

header .container h1 {
	font-size: 2.5rem;
	color: white;
	float: left;
	margin-top: 1.4rem;
	padding-left: 1.2rem;
}

header .container em {
	position: relative;
	left: 3rem;
	top: 2.7rem;
	color: white;
}

/* Instructions */
img {
	height: 20%;
	width: 20%;
}

.pull-right img {
	float: right;
	position: relative;
	bottom: 9rem;
}

section .container .instructions {
	border: 3px solid orange;
	padding: 0.2rem 2rem 3rem;
	color: orange;
	margin: 3.3rem 0;
	float: left;
	width: 100%;
	max-height: 10rem;
}

/* Section 1 */
section .section-1 {
	position: relative;
	left: 50px;
}

section .section-1 span {
	font-weight: bold;
}


/* Section 2 */
section .container h2 {
	color: orange;
}

section .container #table-heading {
	float: right;
}

table {
	background: orange;
	color: white;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

section .container table tr td, th {
	margin: 0;
	padding: 1rem;
	border: 3px solid white;

}








